<!doctype html>

<head>

<title>{{ title }}</title>

</head>

<header>
    <img src="/images/pixel-idle-animation-concept.gif" alt="" height="200" width="200">
</header>

<body>

<main>
    {{{ body }}}
    Generic Boiler Plate
</main>   

</body>

</html>