<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body class="roboto-font">


    <!--Navigation bar -->
    <nav>
        <img src="./images/logo-fixed.png" alt = "">
        <div class="navigation">
            <ul>
                <i id= "menu-close" class="fa-solid fa-circle-xmark"></i>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
            <img id= "menu-btn" src="./images/menu.png" alt="">

        </div>
    </nav>


    
</body>
</html>