<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nust E-Learning Platform</title>
    <link rel="stylesheet" href="./stylesheets/styles.css">

</head>
<body>
    
<!--Navigation bar -->
    <nav>
        <img src="./images/logo-fixed.png" alt = "">
        <div class="navigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </nav>

<!-- ######### Home ########--> 
    <section id="home">
            <h2>Welcome to Nust E-Learning Platform</h2>
            <p>ENHANCE YOUR LEARNING EXPERIENCE WITH OUR INTERACTIVE COURSES.</p>
            <p>THINK IN OTHER TERMS</p>
            <div class="blue-btn">
                <a href="#">Learner</a>
            </div> 
            <br><br>
            <div class="blue-btn">
                <a href="#">Instructor</a>
            </div> 

    </section>   



</body>
</html>