<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script defer src="/javascripts/login.js"></script>
    

    <title>Login</title>
</head>
<body class="roboto-font">
    <main>
        <div class="super-container">
            <div class="container">
                <div class="image-display">
                    <div class="top-details">
                        <div class="top-details-div">
                            <span style="margin-left: 20px;">E-Learning Platform</span>
                            <span class="btw-btn"><a href="#">Back to website<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c4c7c5"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg></a></span>
                        </div>
    
                    </div>
                    <div class="bottom-details"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#c4c7c5"><path d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z"/></svg></div>
                </div>
    
                <div class="login-details">
                    <form action="#" method="post">
                        <div>
                            <h2>Login into your account</h2>
                            <p>Don't have an account? <a href="">Sign Up</a></p>
                            <label for="email"></label>
                            <input type="email" required id="email" name="email" placeholder="Email">
                            <br>
                            <label for="password"></label>
                            <input type="password" required id="password" name="password" placeholder="Password">
                            <br>
                            <input type="submit" value="Login" id="login-btn">
                        </div>
        
                    </form>
                </div>
            </div>
        </div>

    </main>
</body>
</html>