<div class="join-class">
    <form action="#" method="get">
        <h2>Join Course</h2>
            <br>
        <label for="classCode">Class Code</label>
        <input type="text" name="classCode" required placeholder="Class Code">
        <br><br>
        <p>Ensure your code is verified</p>
        <p>from a registered instructor</p>
        <input type="button" value="Join" class="join-btn">
    </form>
</div>